TMDB_READ_ACCESS_TOKEN=replace-with-your-tmdb-read-access-token
DB_PASSWORD=postgres
DB_USERNAME=postgres
DB_R2DBC_URL=r2dbc:postgresql://localhost:5432/movie_recommendation
DB_JDBC_URL=jdbc:postgresql://localhost:5432/movie_recommendation
KAFKA_ENABLED=false
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
MODEL_DIRECTORY=./data/models
